{% extends 'emails/base.html' %}
{% block content %}
    {% load i18n %}{% autoescape off %}
        <div style="font-weight:normal;padding:16px 24px 16px 24px">
            {% blocktranslate %}You're receiving this email because you requested a password reset for your user account
                at
                {{ site_name }}.{% endblocktranslate %}
        </div>
        <div style="font-weight:normal;padding:16px 24px 16px 24px">
            {% translate "Please go to the following page and choose a new password:" %}
            {% block reset_link %}
                {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            {% endblock %}
        </div>
        <div style="font-weight:normal;padding:16px 24px 16px 24px">
            {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
        </div>
        <div style="font-weight:normal;padding:16px 24px 16px 24px">
            {% translate "Thanks for using our site!" %}
        </div>
        <div style="font-weight:normal;padding:16px 24px 16px 24px">
            {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
        </div>

    {% endautoescape %}
{% endblock %}