{% load static %}
<!doctype html>
<html>
  <body>
    <div
      style='background-color:#F2F5F7;color:#242424;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
    >
      <table
        align="center"
        width="100%"
        style="margin:0 auto;max-width:600px;background-color:#FFFFFF;border-radius:0"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
      >
        <tbody>
          <tr style="width:100%">
            <td>
              <div style="padding:24px 24px 24px 24px">
                <a
                  href="{{ scheme }}://{{ site }}{% url 'index' %}"
                  style="text-decoration:none"
                  target="_blank"
                  ><img
                    alt="thewalter.app"
                    height="48"
                    src="{{ scheme }}://{{ site }}{% static 'feed/img/logo.png' %}"
                    style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                /></a>
              </div>
              {% block content%}
              {% endblock %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>