{% load i18n %}

{% if update_list %}
    <div {% if oob_value %}hx-swap-oob="{{ oob_value }}"{% endif %}>
        {% include 'blocks/feed/list/item.html' with feed_item=object %}
    </div>
{% endif %}
<div class="feed-detail-container">
    <header class="feed-links-list-item-footer">
        <form method="post"
              class="feed-links-list-item-controls"
              id="feed-item-controls"
              hx-target="#feed-detail"
              hx-params="*"
        >
            {% csrf_token %}
            {% with subscribers=object.feed.subscribers.all %}
                <button class="button button--ghost button--sm feed-links-list-item-controls__button"
                        title="{% translate 'Like' noop %}"
                        type="submit"
                        formaction="{% url 'api_feed_item_toggle_interesting' pk=object.id action='toggle_liked' %}"
                        hx-post="{% url 'api_feed_item_toggle_interesting' pk=object.id action='toggle_liked' %}"
                >
                    <span class="button__icon {% if user in subscribers and object in liked.feed_items.all %}active{% endif %}">
                        {% if user in subscribers and object in liked.feed_items.all %}
                            {% include 'icons/favorite_filled.svg' %}
                        {% else %}
                            {% include 'icons/favorite.svg' %}
                        {% endif %}
                    </span>
                </button>
                <button class="button button--ghost button--sm feed-links-list-item-controls__button"
                        title="{% translate 'Not interesting' noop %}"
                        type="submit"
                        formaction="{% url 'api_feed_item_toggle_interesting' pk=object.id action='toggle_interesting' %}"
                        hx-post="{% url 'api_feed_item_toggle_interesting' pk=object.id action='toggle_interesting' %}"
                >
                    <span class="button__icon {% if user in subscribers and object in disliked.feed_items.all %}active{% endif %}">
                        {% if user in subscribers and object in disliked.feed_items.all %}
                            {% include 'icons/thumb_down_filled.svg' %}
                        {% else %}
                            {% include 'icons/thumb_down.svg' %}
                        {% endif %}
                    </span>
                </button>
            {% endwith %}
        </form>
    </header>
    <section class="feed-detail-section">
        <h1>
            {{ object.title }}&nbsp;
            {% if object.has_paid_content %}
                <span class="feed-item-feature feed-item-feature--paid"
                      title="There may be paid content"
                >
                {% include 'icons/paid.svg' %}
            </span>
            {% endif %}
        </h1>
    </section>
    {% block preview %}
        {% if object.preview %}
            <section class="feed-detail-section">
                <img class="feed-detail-preview" src="{{ object.preview }}" alt="{{ object.title }}"/>
            </section>
        {% endif %}
    {% endblock %}
    {% block enclosures %}{% endblock %}
    <section class="feed-detail-section feed-detail-description">
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
    </section>
    <a class="button button--ghost button--sm button--outline" href="{{ object.link }}" target="_blank">
        <span class="button__icon">{% include 'icons/link.svg' %}</span>
        {% translate 'View on' noop %} <strong>{{ object.feed.domain_name }}</strong>
    </a>
</div>