<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if description %}
        <meta name="description" content="{{ description }}">
        <meta name="og:description" content="{{ description }}">
        <meta name="twitter:description" content="{{ description }}">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://rsms.me" crossorigin>
    <link rel="preconnect" href="https://unpkg.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js"
            integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
    {% if debug %}
        <script src="https://unpkg.com/htmx-ext-debug@2.0.0/debug.js"></script>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'feed/styles/main.css' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'feed/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'feed/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'feed/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'feed/site.webmanifest' %}">
    {% if cover %}
        <meta name="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static cover %}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static cover %}">
    {% endif %}
    {% if not debug %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZFCZGGNRZ3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-ZFCZGGNRZ3');
        </script>
    {% endif %}
</head>
<body class="container" hx-ext="morph">
<header class="header subgrid spread">
    <span class="cols-3">
        <a href="{% if user.is_authenticated %}{% url 'feed_index' %}{% else %}{% url 'index' %}{% endif %}">
            <img src="{% static 'feed/img/logo.svg' %}" alt="thewalter.app" class="logo">
        </a>
    </span>
    {% if user.is_authenticated %}
        {% include 'blocks/header/authenticated.html' %}
    {% else %}
        {% include 'blocks/header/anonym.html' %}
    {% endif %}
</header>
{% block content %}
{% endblock %}
<footer class="spread">
    <footer class="footer">
        © {% now "Y" %} | thewalter.app by
        <a href="https://www.linkedin.com/in/mivanov24/" target="_blank" class="link medium">Mikhail Ivanov</a>
    </footer>
</footer>
<div id="dialogs-root"
></div>
<script>
    function waitForTransitionEnd(element) {
        return new Promise(function (resolve) {
            element.addEventListener('transitionend', function () {
                resolve();
            })
        });
    }

    function init() {
        const dialogsRootEl = document.querySelector("#dialogs-root");
        dialogsRootEl.addEventListener('htmx:afterSettle', function () {
            const dialog = dialogsRootEl.firstChild;
            dialog.showModal();
            dialog.addEventListener('click', function (e) {
                if (e.target === dialog) {
                    dialog.close();
                }
            });
        });

        // TODO: this piece of code does not work correctly, need to debug.
        dialogsRootEl.addEventListener('close', async function (e) {
            // await waitForTransitionEnd(e.target);
            // e.target.remove();
        }, {capture: true});
    }

    init();
</script>
</body>
</html>