{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main class="root-container">
        <aside id="sidebar" class="section sidebar">
            <a class="sidebar-logo"
               href="{% if user.is_authenticated %}{% url 'feed_index' %}{% else %}{% url 'index' %}{% endif %}">
                <img src="{% static 'feed/img/logo.svg' %}" alt="thewalter.app" class="logo">
            </a>
            {% block sidebar %}{% endblock %}
            <footer class="sidebar-block sidebar-block__sticky">
                {% block sidebar_bottom %}
                {% endblock %}
                <small>
                    © {% now "Y" %} | thewalter.app
                    {#                by#}
                    {#                <a href="https://www.linkedin.com/in/mivanov24/" target="_blank" class="link medium">Mikhail Ivanov</a>#}
                </small>
            </footer>
        </aside>
        <main class="section main">
            {% block main %}{% endblock %}
        </main>
    </main>
{% endblock %}