{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <aside class="section sidebar">
        <a href="{% if user.is_authenticated %}{% url 'feed_index' %}{% else %}{% url 'index' %}{% endif %}">
            <img src="{% static 'feed/img/logo.svg' %}" alt="thewalter.app" class="logo">
        </a>
        {% block sidebar %}{% endblock %}
    </aside>
    <section class="section main">
        {% block main %}{% endblock %}
    </section>
    <section class="section">
        {% block detail %}{% endblock %}
    </section>
{% endblock %}