<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Walter{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'feed/styles/main.css' %}">
</head>
<body class="container">
<header class="header">
    <h1>
        <a href="{% url 'index' %}">Walter</a>
    </h1>
    {% if user.is_authenticated %}
        {% include 'blocks/header/authenticated.html' %}
    {% else %}
        {% include 'blocks/header/anonym.html' %}
    {% endif %}
</header>
<main class="content">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>