{% extends 'base.html' %}

{% block content %}
    <div class="spread v-full center landing-hero">
        <div class="landing-caption center">
            <h1 class="heading">The only feed you need.</h1>
            <p class="paragraph">Get what matters, skip the rest.</p>
        </div>
        <div class="landing-form center">
            <div id="waitlist-form-wrapper">
                {% include 'forms/waitlist.html' %}
            </div>
            <span class="paragraph">{{ subscribers_count }} people already joined.</span>
        </div>
    </div>
{% endblock %}