/**
* Vars
 */
:root {
  /* Grid system */
  --grid-columns: 12;
  --grid-step: 8px;
  --grid-column-gap: calc(var(--grid-step) * 8);

  /* Colors - Grey*/
  --color-grey-1000: #2a2a3c;
  --color-grey-900: #3b3b54;
  --color-grey-800: #4c4c6b;
  --color-grey-700: #5d5d83;
  --color-grey-600: #707099;
  --color-grey-500: #8888aa;
  --color-grey-400: #a0a0bb;
  --color-grey-300: #b7b7cc;
  --color-grey-200: #cfcfde;
  --color-grey-100: #e7e7ee;
  --color-grey-50: #f3f3f7;

  /* Colors - Orange */
  --color-orange-1000: #661300;
  --color-orange-900: #8f1a00;
  --color-orange-800: #b82200;
  --color-orange-700: #e02900;
  --color-orange-600: #ff370a;
  --color-orange-500: #ff5833;
  --color-orange-400: #ff7a5c;
  --color-orange-300: #ff9b85;
  --color-orange-200: #ffbcad;
  --color-orange-100: #ffded6;

  /* Colors - Yellow */
  --color-yellow-1000: #614a05;
  --color-yellow-900: #886807;
  --color-yellow-800: #ae8509;
  --color-yellow-700: #d5a30b;
  --color-yellow-600: #f3bc16;
  --color-yellow-500: #f5c73d;
  --color-yellow-400: #f7d264;
  --color-yellow-300: #f9dd8b;
  --color-yellow-200: #fbe9b1;
  --color-yellow-100: #fdf4d9;

  /* Colors - Blue */
  --color-blue-1000: #035163;
  --color-blue-900: #04728b;
  --color-blue-800: #0593b3;
  --color-blue-700: #06b4db;
  --color-blue-600: #10cef9;
  --color0blue-500: #38d6fa;
  --color-blue-400: #60defb;
  --color-blue-300: #88e7fc;
  --color-blue-200: #afeffd;
  --color-blue-100: #d7f7fe;

  --color-black: #f2e41;
  --color-white: #ffffff;
  --color-error: #e02900;
  --color-blue: #2c67f2;
  --color-blue-dark: #1a4fdb;

  /* Shadows */
  --shadow-primary: 0 0 12px -4px rgba(255, 99, 64, 0.9);
}

/*
* Josh's Custom CSS Reset
* https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
.root {
  font-size: 16px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--color-grey-1000);
}

h1,
.h1 {
  font-size: 1.75rem;
  line-height: 3rem;
}

h2,
.h2 {
  font-size: 1.4375rem;
  line-height: 1.5rem;
}

h3,
.h3 {
  font-size: 1.1875rem;
  line-height: 1.5rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

small {
  font-size: 0.833rem;
  line-height: 1rem;
}
