{% load i18n %}
<form
        class="waitlist-form"
        action="{% url 'waitlist' %}" method="post"
        hx-post="{% url 'waitlist' %}"
        hx-trigger="submit"
        hx-target="#waitlist-form-wrapper"
>
    {% csrf_token %}
    <div class="field-row">
        <input
                class="input {% if error %}error{% endif %}"
                type="email" name="email"
                placeholder="{% translate 'Enter your email' noop %}"
                value="{{ email }}"
                required
        >
        {% if error %}
            <div class="error-text error">{{ error }}</div>
        {% endif %}
    </div>
    <button class="button button--primary" type="submit">{% translate 'Join the waitlist' noop %}</button>
</form>