{% extends 'dialogs/base.html' %}
{% load i18n %}

{% block body %}
    <div class="form-inline-row">
        <form class="form flex-column-button-container"
              method="post" action="{% url 'new_feed' %}"
              hx-post="{% url 'new_feed' %}"
        >
            {% csrf_token %}
            <div class="form-inline-row">
                {{ form.as_div }}
                <button class="button button--primary button--sm" type="submit">
                    {% translate 'Add feed' noop %}
                </button>
            </div>
        </form>
        <button class="button button--primary button--sm" type="submit">
            Add feed
        </button>
    </div>
{% endblock %}