{% extends 'layouts/with_sidebar.html' %}
{% load i18n %}
{% load static %}
{% load url_with_filters %}

{% block title %}thewalter.app{% endblock %}

{% block sidebar %}
    <div class="feed-sidebar">
        <div class="sidebar-block sidebar-block-content">
            <a class="button button--ghost button--sm"
               href="{% url 'profile' %}"
            >
                 <span class="button__icon">{% include 'icons/account.svg' %}</span>
                {% translate 'Profile' %}
            </a>
        </div>
        <div class="sidebar-block sidebar-block-content">
            <a class="button button--ghost button--sm"
               hx-target="#feed-list"
               hx-swap="innerHTML scroll:#feed-list-section:top"
               hx-get="{% url 'api_feed_list' %}"
               hx-push-url="{% url 'feed_index' %}{% provide_filters_qs %}"
               href="{% url 'feed_index' %}">
                <span class="button__icon">{% include 'icons/home.svg' %}</span>
                {% translate 'Home' noop %}
            </a>
            <a class="button button--ghost button--sm"
               hx-target="#feed-list"
               hx-swap="innerHTML scroll:#feed-list-section:top"
               hx-get="{% url 'api_feed_favorites' %}"
               hx-push-url="{% url 'favorites' %}{% provide_filters_qs %}"
               href="{% url 'favorites' %}">
                <span class="button__icon">{% include 'icons/favorite_filled.svg' %}</span>
                {% translate 'Favorites' noop %}
            </a>
            <a class="button button--ghost button--sm"
               hx-target="#feed-list"
               hx-swap="innerHTML scroll:#feed-list-section:top"
               hx-get="{% url 'api_feed_articles' %}"
               hx-push-url="{% url 'feed_articles' %}{% provide_filters_qs %}"
               href="{% url 'feed_articles' %}">
                <span class="button__icon">{% include 'icons/article.svg' %}</span>
                {% translate 'Articles' noop %}
            </a>
            <a class="button button--ghost button--sm"
               hx-target="#feed-list"
               hx-swap="innerHTML scroll:#feed-list-section:top"
               hx-get="{% url 'api_feed_podcasts' %}"
               hx-push-url="{% url 'feed_podcasts' %}{% provide_filters_qs %}"
               href="{% url 'feed_podcasts' %}">
                <span class="button__icon">{% include 'icons/headphones.svg' %}</span>
                {% translate 'Podcasts' noop %}
            </a>
            <a class="button button--ghost button--sm"
               hx-target="#feed-list"
               hx-swap="innerHTML scroll:#feed-list-section:top"
               hx-get="{% url 'api_feed_videos' %}"
               hx-push-url="{% url 'feed_videos' %}{% provide_filters_qs %}"
               href="{% url 'feed_videos' %}">
                <span class="button__icon">{% include 'icons/movie.svg' %}</span>
                {% translate 'Videos' noop %}
            </a>
        </div>
        <div class="sidebar-block">
            <h3 class="heading">{% translate 'Feeds' noop %}:</h3>
            <div class="sidebar-block-content">
                {% include 'blocks/feed/feeds_full.html' %}
            </div>
        </div>
        {% block sidebar_bottom %}
            <button class="button button--primary button--sm"
                    hx-target="#dialogs-root"
                    hx-get="{% url 'api_dialog_feed_new' %}"
            >
                <span class="button__icon">{% include 'icons/plus_circle.svg' %}</span>
                {% translate 'Add new source' noop %}
            </button>
        {% endblock %}
    </div>
{% endblock %}

{% block main %}
    <div class="section splitted">
        <section id="feed-list-section" class="section list">
            <header class="feed-header">
                <div id="feed-description"
                     class="feed-description"
                >
                </div>
                <div class="feed-list-filters">
                    <h4 class="heading">{% translate 'Hide' noop %}:</h4>
                    <form id="feed-filters"
                          class="button-group"
                          method="post"
                          hx-trigger="change"
                          hx-target="this"
                          hx-post="{% url 'api_feed_filters' %}"
                    >
                        {% include 'blocks/feed/filters.html' %}
                    </form>
                    <a class="button button--xs button--ghost" href="{% url 'feed_index' %}">
                        {% translate 'Reset filters' noop %}
                    </a>
                </div>
            </header>
            {% block feed_list %}{% endblock %}
        </section>
        <section id="detail-section" class="section">

            {% block detail %}
                {% if feed_item_pk %}
                    <article id="feed-detail"
                             class="feed-detail"
                             hx-trigger="load"
                             hx-get="{% url 'api_feed_detail' pk=feed_item_pk %}"
                    >
                        {% include 'blocks/feed/loader.html' %}
                    </article>
                {% else %}
                    <article id="feed-detail" class="feed-detail">
                        <img src="{% static 'feed/img/logo_compact.svg' %}"
                             class="feed-detail__logo"
                             alt="thewalter.app"
                             width="120"
                             height="120"/>
                    </article>
                {% endif %}
            {% endblock %}
        </section>
    </div>
{% endblock %}