{% extends 'layouts/with_sidebar.html' %}
{% load i18n %}

{% block title %}thewalter.app{% endblock %}

{% block sidebar %}
    <div class="feed-sidebar">
        <div class="sidebar-block-content">
            <a class="button button_ghost button_sm"
               href="{% url 'feed_index' %}">
                {% include 'icons/home.svg' %}
                {% translate 'Home' noop %}
            </a>
            <a class="button button_ghost button_sm"
               href="{% url 'favorites' %}">
                {% include 'icons/favorite_filled.svg' %}
                {% translate 'Favorites' noop %}
            </a>
            <form id="feed-types"
                  class="sidebar-block-content"
                  method="post"
                  hx-trigger="change"
                  hx-target="this"
                  hx-post="{% url 'api_feed_types' %}"
            >
                {% include 'blocks/feed/types_selector.html' %}
            </form>
        </div>
        <div class="sidebar-block">
            <h3 class="heading">{% translate 'Feeds' noop %}:</h3>
            <div class="sidebar-block-content">
                {% include 'blocks/feed/feeds_full.html' %}
                <a class="button button_primary button_sm"
                   href="{% url 'new_feed' %}"
                >
                    <span class="button__icon">{% include 'icons/plus_circle.svg' %}</span>
                    {% translate 'Add new source' noop %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <header class="feed-header">
        <div class="feed-list-filters">
            <h4 class="heading">{% translate 'Hide' noop %}:</h4>
            <form id="feed-filters"
                  class="button-group"
                  method="post"
                  hx-trigger="change"
                  hx-target="this"
                  hx-post="{% url 'api_feed_filters' %}"
            >
                {% include 'blocks/feed/filters.html' %}
            </form>
            <a class="button button_xs button_ghost" href="{% url 'feed_index' %}">
                {% translate 'Reset filters' noop %}
            </a>
        </div>
    </header>
    {% block feed_list %}{% endblock %}
{% endblock %}

{% block detail %}
    {% if feed_item_pk %}
        <article id="feed-detail"
                 hx-trigger="load"
                 hx-get="{% url 'api_feed_detail' pk=feed_item_pk %}"
        >
            {% include 'blocks/feed/loader.html' %}
        </article>
    {% else %}
        <article id="feed-detail"></article>
    {% endif %}
{% endblock %}