{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block title %}{{ feed.title }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="page-header spread">
            <h1 class="heading">{{ feed.title }}</h1>
        </div>
        <section class="cols-3 cols-mobile-12 relative">
            <div class="feed-sidebar">
                <div>
                    <p>{{ feed.description }}</p>
                    <a href="{{ feed.url }}" target="_blank">🔗 Original link</a>
                </div>
            </div>
        </section>
        <div class=" cols-6 cols-mobile-12">
            <div
                id="feed-list"
                hx-trigger="load, change from:#feed-filters"
                hx-get="{% url 'api_feed_feed_list' feed.id %}"
            >
                
            </div>
        </div>
    </div>
{% endblock %}