{% extends 'layouts/with_sidebar.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block sidebar %}
    <div class="feed-sidebar">
        <div>
            <p>{{ feed.description }}</p>
            <a href="{{ feed.url }}" target="_blank">🔗 Original link</a>
            <form id="feed-subscription"
                  method="post"
                  hx-target="this"
            >
                {% include 'blocks/feed/subscription.html' %}
            </form>
        </div>
        <div class="feed-filters">
            <h3 class="heading">Filter:</h3>
            <form id="feed-filters"
                  class="feed-filters-form"
                  method="post"
                  hx-trigger="change"
                  hx-target="this"
                  hx-post="{% url 'api_feed_filters' %}"
            >
                {% include 'blocks/feed/filters.html' %}
            </form>
            <a class="button button_sm button_blank" href="{% url 'feed_index' %}">Reset filters</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="feed-list"
         hx-trigger="load, change from:#feed-filters, submit from:#feed-subscription"
         hx-get="{% url 'api_feed_feed_list' feed.id %}"
         hx-include="#feed-filters"
         hx-params="filter"
    >
        {% include 'blocks/feed/loader.html' %}
    </div>
{% endblock %}