{% extends 'feed/index.html' %}
{{ feed }}
{% block main %}
    <div class="content">
        <div style="display: flex;
    flex-direction: column;
    gap: 16px;">
            <h1>{{ feed.title }}</h1>
            <p class="paragraph">{{ feed.description }}</p>
            <div class="sidebar-block-content">
                <form id="feed-subscription"
                      method="post"
                      hx-target="this"
                >
                    {% include 'blocks/feed/subscription.html' %}
                </form>
                <a class="button button_sm button_text" href="{{ feed.url }}" target="_blank">🔗 Original link</a>
            </div>
        </div>
        <div id="feed-list"
             class="feed-list-wrapper"
             hx-trigger="load, change from:#feed-filters"
             hx-get="{% url 'api_feed_feed_list' feed_id=feed.id %}"
             hx-include="#feed-filters"
             hx-params="filter"
             hx-swap="morph:innerHTML"
        >
            {% include 'blocks/feed/loader.html' %}
        </div>
    </div>
{% endblock %}