{% extends 'layouts/with_sidebar.html' %}
{% load i18n %}

{% block title %}thewalter.app{% endblock %}

{% block sidebar %}
    <div class="feed-sidebar">
        <div class="feed-filters-form">
            <a class="button button_primary button_sm"
               href="{% url 'new_feed' %}"
            >
                <span class="button__icon">{% include 'icons/plus_circle.svg' %}</span>
                {% translate 'Add new source' noop %}
            </a>
        </div>
        <div class="feed-filters-form">
            {% include 'blocks/feed/types_selector.html' %}
        </div>
        <div class="feed-filters">
            <h3 class="heading">Filter:</h3>
            {% if feeditem_list %}
                <form
                        id="feed-filters"
                        class="feed-filters-form"
                        method="post"
                        hx-trigger="change"
                        hx-target="this"
                        hx-post="{% url 'api_feed_filters' %}"
                >
                    {% include 'blocks/feed/filters.html' %}
                </form>
            {% endif %}
            <a class="button button_sm button_blank" href="{% url 'feed_index' %}">Reset filters</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div
            id="feed-list"
            class="feed-list-wrapper"
            hx-trigger="load, change from:#feed-filters"
            hx-get="{% url 'api_feed_list' %}"
            hx-include="#feed-filters"
            hx-params="filter"
            hx-swap="morph:innerHTML"
    >
        {% include 'blocks/feed/loader.html' %}
    </div>
{% endblock %}