{% extends 'feed/index.html' %}
{% load i18n %}

{% block main %}
    <div class="content">
        <div>
            <h1 class="heading">{% translate 'New feed source' noop %}</h1>
            <p class="paragraph">{% translate 'Follow your favorite websites, blogs, YouTube channels and more.' noop %}</p>
            <form class="form flex-column-button-container" method="post" action="{% url 'new_feed' %}">
                {% csrf_token %}
                <div class="form-inline-row">
                    {{ form.as_div }}
                    <button class="button button_primary button_sm" type="submit">
                        {% translate 'Add feed' noop %}
                    </button>
                </div>
            </form>
        </div>
        {% block result %}{% endblock %}
    </div>
{% endblock %}