{% extends 'feed/index.html' %}

{% block main %}
    <div class="content">
        <div class="feed-description">
            <h2 class="heading">{{ feed.title }}</h2>
            {% if feed.description %}
                <p class="paragraph">{{ feed.description }}</p>
            {% endif %}
            <div class="flex-column-button-container sidebar-block-content">
                <form id="feed-subscription"
                      method="post"
                      hx-target="this"
                >
                    {% include 'blocks/feed/subscription.html' %}
                </form>
                <a class="button button_sm button_text" href="{{ feed.url }}" target="_blank">🔗 Original link</a>
            </div>
        </div>
        <div id="feed-list"
             class="feed-list-wrapper"
             hx-trigger="load, change from:#feed-filters, RefreshFeed from:body"
             hx-get="{% url 'api_feed_feed_list' feed_id=feed.id %}"
             hx-include="#feed-filters, #feed-types"
             hx-params="filter"
        >
            {% include 'blocks/feed/loader.html' %}
        </div>
    </div>
{% endblock %}