{% if reload_filters %}
    <form id="feed-filters"
          class="button-group"
          method="post"
          hx-trigger="change"
          hx-target="this"
          hx-post="{% url 'api_feed_filters' %}"
          hx-swap-oob="true"
    >
        {% include 'blocks/feed/filters.html' %}
    </form>
{% endif %}
<ul id="feed-list"
    class="feed-list-wrapper"
    hx-trigger="load, change from:#feed-filters, RefreshFeed from:body, keyup changed from:#feed-search delay:1s"
    hx-get="{{ load_url }}"
    hx-include="#feed-filters, #feed-search"
    hx-params="filter, search"
    hx-swap="innerHTML"
    hx-swap-oob="true"
>
    {% include 'blocks/feed/loader.html' %}
</ul>