{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block main %}
    <div class="centered-form-wrapper">
        <div>
            <h1 class="heading">{% translate "Your account is activated🥳" noop %}</h1>
            <p class="paragraph">{% translate 'You can start you journey.' noop %}</p>
        </div>
        <form class="form" action="{% url 'django_registration_activation_complete' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button class="button button--primary flex-column-button-container"
                    type="submit">{% translate 'Sign in' noop %}</button>
        </form>
    </div>
{% endblock %}