{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block main %}
    <div class="centered-form-wrapper">
        <div>
            <h1 class="heading">{% translate "You're in the waitlist." noop %}</h1>
        <p class="paragraph">{% translate 'You will receive an email with further instructions.' noop %}</p>
        </div>
        <a class="button button_ghost" href="{% url 'index' %}">
            <span class="button__icon">{% include 'icons/arrow_back.svg' %}</span>
            {% translate 'Go back' noop %}
        </a>
    </div>
{% endblock %}