{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block title %}{% translate 'Sign up' noop %}{% endblock %}

{% block main %}
    <div class="centered-form-wrapper">
        {% include 'blocks/page-heading.html' with title=title %}
        <form class="form" action="{% url 'django_registration_register' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button class="button button--primary flex-column-button-container" type="submit">{% translate 'Sign up' noop %}</button>
        </form>
    </div>
{% endblock %}