{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block main %}
    <div class="centered-form-wrapper">
        <div>
            <h1 class="heading">{% translate "Your account is registered." noop %}</h1>
        <p class="paragraph">{% translate 'Check your email further instructions.' noop %}</p>
        </div>
        <a class="button button--ghost" href="{% url 'index' %}">
            <span class="button__icon">{% include 'icons/arrow_back.svg' %}</span>
            {% translate 'Go back' noop %}
        </a>
    </div>
{% endblock %}