{% load i18n %}
{% url 'feed_index' as feed_index_url %}
{% translate 'Home' noop as feed_index_text %}
{% url 'profile' as profile_url %}
{% translate 'Profile' noop as profile_text %}
{% url 'favorites' as favorites_url %}
{% translate 'Favorites' noop as favorites_text %}
<nav class="cols-6">
    <ul class="header-nav-menu nav-list">
        <li>{% include 'blocks/header/nav-link.html' with url=feed_index_url text=feed_index_text icon='icons/home.svg' %}</li>
        <li>{% include 'blocks/header/nav-link.html' with url=favorites_url text=favorites_text  icon='icons/favorite.svg' %}</li>
    </ul>
</nav>
<nav class="header-right cols-3">
    <ul class="header-nav-menu nav-list">
        <li>{% include 'blocks/header/nav-link.html' with url=profile_url text=profile_text icon='icons/account.svg' %}</li>
    </ul>
</nav>