{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block title %}{% translate 'Login' noop %}{% endblock %}

{% block main %}
    <div class="centered-form-wrapper">
        {% include 'blocks/page-heading.html' with title='Sign in' %}
        <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button class="button button_primary form-submit" type="submit">{% translate 'Login' noop %}</button>
        </form>
    </div>
{% endblock %}