{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="content content-inner">
        <div class="cols-12">
            {% include 'blocks/page-heading.html' %}
            {% if validlink %}
                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form class="form" method="post">
                    {% csrf_token %}
                    <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    {{ form.as_div }}
                    <button class="button form-submit" type="submit">{% translate 'Change my password' noop %}</button>
                </form>
            {% else %}
                <p>{% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}