{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block main %}
    <div class="centered-form-wrapper">
        {% include 'blocks/page-heading.html' %}
        {% if validlink %}
            <p class="paragraph">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% else %}
            <p class="paragraph">{% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
        {% endif %}
        {% if form %}
            <form class="form" method="post">
                {% csrf_token %}
                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                {{ form.as_div }}
                <button class="button form-submit" type="submit">{% translate 'Change my password' noop %}</button>
            </form>
        {% endif %}
    </div>
{% endblock %}