{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="content content-inner">
        <div class="cols-12">
            {% include 'blocks/page-heading.html' %}
            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
        </div>
        <div class="cols-4 cols-mobile-12">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_div }}
                <button class="button" type="submit">{% translate 'Reset my password' noop %}</button>
            </form>
        </div>
    </div>
{% endblock %}