{% load url_with_filters %}
{% if feed_list.count <= 5 %}
    {% for item in feed_list %}
        <a href="{% url 'feed_subscription' slug=item.slug %}{% provide_filters_qs %}"
           class="button button_outline button_sm {% if item.id == feed.id %}active{% endif %}"
           title="{{ item.title }}"
        >
            <img width="20" height="20" alt="{{ item.title }}" src="{{ item.icon }}">
            <span>{{ item.title }}</span>
        </a>
    {% endfor %}
{% else %}
    {% for item in feed_list|slice:":5" %}
        <a href="{% url 'feed_subscription' slug=item.slug %}{% provide_filters_qs %}"
           class="button button_outline button_sm {% if item.id == feed.id %}active{% endif %}"
           title="{{ item.title }}"
        >
            <img width="20" height="20" alt="{{ item.title }}" src="{{ item.icon }}">
            <span>{{ item.title }}</span>
        </a>
    {% endfor %}
    <form
            hx-get="{% url 'api_dialog_feed_list' %}"
            hx-target="#dialogs-root"
    >
        {% if feed_type %}
            <input type="hidden" name="feed_type" value="{{ feed_type }}">
        {% endif %}
        {% if feed %}
            <input type="hidden" name="selected_feed_id" value="{{ feed.id }}">
        {% endif %}
        <button class="button button_outline button_sm {% if feed and not feed in feed_list|slice:":5" %}active{% endif %}">
            {% include 'icons/more_horiz.svg' %}
            See all ({{ feed_list.count }})
        </button>
    </form>
{% endif %}