{% load url_with_filters %}
{% for feed in feed_list %}
    <a href="{% url 'feed_subscription' slug=feed.slug %}{% provide_filters_qs %}"
       hx-get="{% url 'api_feed_feed_list' feed_id=feed.id %}"
       hx-target="#feed-list"
       hx-swap="innerHTML scroll:#feed-list-section:top"
       hx-push-url="{% url 'feed_subscription' slug=feed.slug %}{% provide_filters_qs %}"
       class="button button_ghost button_sm {% if request.GET.selected_feed_id == feed.id|stringformat:'d' %}active{% endif %}"
       title="{{ feed.title }}"
    >
        <img width="20" height="20" alt="{{ feed.title }}" src="{{ feed.icon }}">
        <span>{{ feed.title }}</span>
    </a>
{% endfor %}