{% load i18n %}
{% csrf_token %}
<input type="hidden" name="filter" value="enabled"/>
<div class="button-wrapper">
    <input type="checkbox"
           class="feed-filters-item__checkbox"
           name="filter"
           id="filter_by_interesting"
           value="not_interesting"
            {% if applied_filters.not_interesting %}
           checked
            {% endif %}
    />
    <label for="filter_by_interesting"
           class="feed-filters-item__title  button button--primary button--xs button--outline">
        <span class="button__icon">{% include 'icons/thumb_down.svg' %}</span>
        {% translate 'Not interesting' noop %}
    </label>
</div>
<div class="button-wrapper">
    <input type="checkbox"
           class="feed-filters-item__checkbox"
           name="filter"
           id="filter_by_paid"
           value="paid"
            {% if applied_filters.paid %}
           checked
            {% endif %}
    />
    <label for="filter_by_paid"
           class="feed-filters-item__title button button--xs button--primary button--outline">
        <span class="button__icon">{% include 'icons/paid.svg' %}</span>
        {% translate 'Paid content' noop %}
    </label>
</div>