{% load i18n %}
{% load static %}
{% load humanize %}
{% load url_with_filters %}
{% if feed %}
    <div id="feed-description"
         class="feed-description"
         hx-swap-oob="true"
    >
        <h3 class="heading">{{ feed.title }}</h3>
        {% if feed.description %}
            <p class="paragraph feed-description__text"
               title="{{ feed.description }}"
            >
                {{ feed.description }}
            </p>
        {% endif %}
        <div class="flex-column-button-container sidebar-block-content">
            <form id="feed-subscription"
                  method="post"
                  hx-target="this"
            >
                {% include 'blocks/feed/subscription.html' %}
            </form>
            <a class="button button--sm button--text" href="{{ feed.url }}" target="_blank">🔗 Original link</a>
        </div>
    </div>
{% else %}
    <div id="feed-description"
         class="feed-description"
         hx-swap-oob="true"
    >
    </div>
{% endif %}
{% if feed_id %}
    {% url feed_url_name feed_id=feed_id as feed_url %}
{% else %}
    {% url feed_url_name as feed_url %}
{% endif %}
{% for entry in feeditem_list %}
    {% if feed_id %}
        {% url feet_item_url_name item_pk=entry.id slug=entry.feed.slug as detail_url %}
    {% else %}
        {% url feet_item_url_name item_pk=entry.id as detail_url %}
    {% endif %}
    <li id="feed_item_{{ entry.id }}" class="feed-links-list-item"
            {% if forloop.counter == 20 and page_obj.has_next %}
        hx-get="{{ feed_url }}?page={{ page_obj.next_page_number }}"
        hx-include="#feed-filters"
        hx-params="filter"
        hx-trigger="intersect once"
        hx-swap="afterend"
            {% endif %}
    >
        <div class="feed-links-list-item-bloginfo">
            <a class="feed-links-list-item-bloginfo__link link paragraph"
               title="{{ entry.feed }}"
               href="{% url 'feed_subscription' entry.feed.slug %}"
               hx-get="{% url 'api_feed_feed_list' feed_id=entry.feed.id %}"
               hx-target="#feed-list"
               hx-swap="innerHTML scroll:#feed-list-section:top"
               hx-push-url="{% url 'feed_subscription' slug=entry.feed.slug %}{% provide_filters_qs %}"
            >
                <img src="{{ entry.feed.icon }}" height="16" width="16"/>
                <small>{{ entry.feed }}</small>
            </a>
            <small class="paragraph">{{ entry.pub_day|naturalday|title }}</small>
        </div>
        <a class="feed-links-list-item-link"
           title="{{ entry.title }} {{ page_obj.end_index }}"
           hx-target="#feed-detail"
           hx-swap="innerHTML scroll:#detail-section:top"
           hx-get="{% url 'api_feed_detail' pk=entry.id %}"
           hx-push-url="{{ detail_url }}"
           href="{{ detail_url }}"
        >
            <h4 class="heading feed-links-list-item__title">
                {{ entry.title }}&nbsp;
                {% if entry.has_paid_content %}
                    <span class="feed-item-feature feed-item-feature--paid"
                          title="There may be paid content">
                                {% include 'icons/paid.svg' %}
                            </span>
                {% endif %}
                {% with subscribers=entry.feed.subscribers.all %}
                    {% if user in subscribers and entry in disliked.feed_items.all %}
                        <span class="feed-item-feature" title="Not interesting">
                                    {% include 'icons/thumb_down.svg' %}
                                </span>
                    {% endif %}
                {% endwith %}
            </h4>
        </a>
        <div class="feed-links-list-item-body">
            <a class="feed-links-list-item-text"
               hx-get="{% url 'api_feed_detail' pk=entry.id %}"
               hx-push-url="{{ detail_url }}"
               hx-swap="innerHTML scroll:#detail-section:top"
               hx-target="#feed-detail"
               href="{{ detail_url }}"
               title="{{ entry.title }}"
            >
                <p class="feed-links-list-item__description">{{ entry.description|safe|striptags|truncatechars:200 }}</p>
            </a>
        </div>
        {% if entry.preview %}
            <a class="feed-links-list-item-bloginfo-cover"
               hx-get="{% url 'api_feed_detail' pk=entry.id %}"
               hx-push-url="{{ detail_url }}"
               hx-swap="innerHTML scroll:#detail-section:top"
               hx-target="#feed-detail"
               href="{{ detail_url }}"
               title="{{ entry.title }}"
            >
                <img class="feed-links-list-item-bloginfo-cover__image"
                     src="{{ entry.preview }}"
                     alt="{{ entry.feed.title }}"
                />
            </a>
        {% endif %}
    </li>
{% endfor %}