{% csrf_token %}
<div class="feed-filters-item">
    <input id="all"
           type="radio"
           name="feed_type"
           value="none"
           class="feed-filters-item__checkbox"
           {% if not feed_type %}checked{% endif %}
    />
    <label for="all"
           class="feed-filters-item__title button button_outline button_sm"
    >
        <span>🪩</span>
        All
    </label>
</div>
<div class="feed-filters-item">
    <input id="podcasts"
           type="radio"
           name="feed_type"
           value="podcasts"
           class="feed-filters-item__checkbox"
           {% if feed_type == 'podcasts' %}checked{% endif %}
    />
    <label for="podcasts"
           class="feed-filters-item__title button button_outline button_sm"
    >
        <span>🎧️</span>
        Podcasts
    </label>
</div>
<div class="feed-filters-item">
    <input id="articles"
           type="radio"
           name="feed_type"
           value="articles"
           class="feed-filters-item__checkbox"
           {% if feed_type == 'articles' %}checked{% endif %}
    />
    <label for="articles"
           class="feed-filters-item__title button button_outline button_sm"
    >
        <span>📰</span>
        Articles
    </label>
</div>
<div class="feed-filters-item">
    <input id="videos"
           type="radio"
           name="feed_type"
           value="videos"
           class="feed-filters-item__checkbox"
           {% if feed_type == 'videos' %}checked{% endif %}
    />
    <label for="videos"
           class="feed-filters-item__title button button_outline button_sm"
    >
        <span>🎥</span>
        Videos
    </label>
</div>