{% csrf_token %}
<div class="feed-filters-item">
    <input id="podcasts"
           type="radio"
           name="feed_type"
           value="podcasts"
           class="feed-filters-item__checkbox"
           {% if feed_type == 'podcasts' %}checked{% endif %}
    />
    <label for="podcasts"
           class="feed-filters-item__title button button--ghost button--sm"
    >
        {% include 'icons/headphones.svg' %}
        Podcasts
    </label>
</div>
<div class="feed-filters-item">
    <input id="articles"
           type="radio"
           name="feed_type"
           value="articles"
           class="feed-filters-item__checkbox"
           {% if feed_type == 'articles' %}checked{% endif %}
    />
    <label for="articles"
           class="feed-filters-item__title button button--ghost button--sm"
    >
        {% include 'icons/article.svg' %}
        Articles
    </label>
</div>
<div class="feed-filters-item">
    <input id="videos"
           type="radio"
           name="feed_type"
           value="videos"
           class="feed-filters-item__checkbox"
           {% if feed_type == 'videos' %}checked{% endif %}
    />
    <label for="videos"
           class="feed-filters-item__title button button--ghost button--sm"
    >
        {% include 'icons/movie.svg' %}
        Videos
    </label>
</div>