{% extends 'layouts/centered.html' %}
{% load i18n %}
{% block main %}
    <div class="centered-form-wrapper">
        <div>
            {% include 'blocks/page-heading.html' %}
            <p class="paragraph">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
        </div>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button class="button button_primary form-submit" type="submit">{% translate 'Set my password' noop %}</button>
        </form>
    </div>
{% endblock %}