<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta name="og:title" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if description %}
    <meta name="description" content="{{ description }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
  {% endif %}
  {% load vite %}
  {% entrypoint_assets %}
  {% block head %}{% endblock %}
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:wght@700&family=Source+Serif+4:opsz@8..60&display=swap"
    rel="stylesheet">
  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'site.webmanifest' %}">
  {% if cover %}
    <meta name="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static cover %}">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static cover %}">
  {% endif %}
{{ debug }}
  {% if not debug %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZFCZGGNRZ3"></script>
    <script>
      window.dataLayer = window.dataLayer || []

      function gtag() {
        dataLayer.push(arguments)
      }

      gtag('js', new Date())

      gtag('config', 'G-ZFCZGGNRZ3')
    </script>
  {% endif %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>