/*
* Josh's Custom CSS Reset
* https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/**
* Vars
 */
:root {
    /* Grid system */
    --grid-columns: 12;
    --grid-step: 8px;
    --grid-column-gap: calc(var(--grid-step) * 8);

    /* Colors - Grey*/
    --color-grey-1000: #2A2A3C;
    --color-grey-900: #3B3B54;
    --color-grey-800: #4C4C6B;
    --color-grey-700: #5D5D83;
    --color-grey-600: #707099;
    --color-grey-500: #8888AA;
    --color-grey-400: #A0A0BB;
    --color-grey-300: #B7B7CC;
    --color-grey-200: #CFCFDE;
    --color-grey-100: #e7e7ee;
    --color-grey-50: #F3F3F7;

    /* Colors - Orange */
    --color-orange-1000: #661300;
    --color-orange-900: #8F1A00;
    --color-orange-800: #B82200;
    --color-orange-700: #E02900;
    --color-orange-600: #FF370A;
    --color-orange-500: #FF5833;
    --color-orange-400: #FF7A5C;
    --color-orange-300: #FF9B85;
    --color-orange-200: #FFBCAD;
    --color-orange-100: #FFDED6;

    /* Colors - Yellow */
    --color-yellow-1000: #665500;
    --color-yellow-900: #8F7700;
    --color-yellow-800: #B89900;
    --color-yellow-700: #E0BB00;
    --color-yellow-600: #FFD60A;
    --color-yellow-500: #FFDD33;
    --color-yellow-400: #FFE45C;
    --color-yellow-300: #FFEB85;
    --color-yellow-200: #FFF1AD;
    --color-yellow-100: #FFF8D6;

    --color-black: #f2e41;
    --color-white: #FFFFFF;
    --color-error: #E02900;
    --color-blue: #2C67F2;
    --color-blue-dark: #1A4FDB;

    /* Shadows */
    --shadow-primary: 0 0 12px -4px rgba(255, 99, 64, 0.9);
}

/**
* Global styles
*/

html, .root {
    font-size: 16px;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--color-grey-1000);
}

h1, .h1 {
    font-size: 1.75rem;
    line-height: 3rem;
}

h2, .h2 {
    font-size: 1.4375rem;
    line-height: 1.5rem;
}

h3, .h3 {
    font-size: 1.1875rem;
    line-height: 1.5rem;
}

h4, .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h5, .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

small {
    font-size: 0.833rem;
    line-height: 1rem;
}

/**
* Main components styles
*/
.container {
    --side-padding: calc(var(--grid-step) * 6);
    --vertical-padding: calc(var(--grid-step) * 4);
    --row-gap: calc(var(--grid-step) * 8);
    padding: var(--vertical-padding) var(--side-padding);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-template-rows: auto 1fr;
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--row-gap);
    min-height: 100vh;
}

.root-container {
    display: grid;
    grid-template-columns: 300px 500px minmax(500px, 1fr);
    height: 100vh;
}

.section {
    --side-padding: calc(var(--grid-step) * 3);
    --vertical-padding: calc(var(--grid-step) * 4);
    max-height: 100vh;
    overflow: auto;
    padding: var(--vertical-padding) var(--side-padding);
    position: relative;

    & + & {
        border-left: 1px solid var(--color-grey-200);
    }
}


.main {
    --side-padding: 0;
    --vertical-padding: 0;
}


.sidebar {
    --sidebar-bg: var(--color-grey-50);
    --side-padding: 0;
    --vertical-padding: 0;
    background-color: var(--sidebar-bg);
    max-height: 100vh;
    overflow: auto;
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
}

.spread {
    grid-column: span var(--grid-columns);
}

.page-header {
    display: flex;
    flex-direction: column;
}

.heading {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.01em;
}

.header {
    align-items: center;
}

.header-logo {

}

.header-nav {
    grid-column-start: calc(var(--grid-columns) / 3);
    grid-column: span calc(var(--grid-columns) / 3);
}

.header-right {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.header-nav-menu {
    font-weight: 600;
}

.content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span var(--grid-columns);
    grid-row-gap: calc(var(--grid-step) * 8);
}

.content-inner {
    grid-template-rows: min-content;
}

.nav-list {
    display: flex;
    gap: calc(var(--grid-step) * 3);
    list-style: none;
    padding: 0;

    &.vertical {
        flex-direction: column;
        gap: calc(var(--grid-step) * 2);
    }
}

.nav-list__link {
    text-decoration: none;

    &.link {
        color: var(--color-grey-1000);
        display: flex;
        gap: calc(var(--grid-step) * 1);
    }

    &.active {
        color: var(--color-grey-600);
    }
}

.link {
    color: var(--color-blue);
    text-decoration: none;
    transition: color 0.15s;
}

.link:hover {
    color: var(--color-blue-dark);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.relative {
    position: relative;
}

/**
* Grid system
 */

.cols-1 {
    grid-column: span 1;
}

.cols-2 {
    grid-column: span 2;
}

.cols-3 {
    grid-column: span 3;
}

.cols-4 {
    grid-column: span 4;
}

.cols-5 {
    grid-column: span 5;
}

.cols-6 {
    grid-column: span 6;
}

.cols-7 {
    grid-column: span 7;
}

.cols-8 {
    grid-column: span 8;
}

.cols-9 {
    grid-column: span 9;
}

.cols-10 {
    grid-column: span 10;
}

.cols-11 {
    grid-column: span 11;
}

.cols-12 {
    grid-column: span 12;
}

.centered-form-wrapper {
    margin: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 3);
    align-items: flex-start;
}

/**
* Atomic components
*/

.feed-list-wrapper {
    min-width: 0;
    padding: 0 0 calc(var(--grid-step) * 4);

    .loader {
        margin: 0 auto;
    }
}

.feed-list {
    grid-row-gap: calc(var(--grid-step) * 4);
}

.feed-list-filters {
    display: flex;
    align-items: center;
    gap: calc(var(--grid-step) * 1);
}

.feed-header {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 20;
    padding: calc(var(--grid-step) * 4) calc(var(--grid-step) * 3) calc(var(--grid-step) * 2);
    border-bottom: 1px solid var(--color-grey-200);
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 2);
}

.feed-menu {
}

.feed {
    --feed-columns-count: 1;
    grid-column: span calc(var(--grid-columns) / var(--feed-columns-count));
}

.feed-links-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

.feed-links-list-item {
    display: flex;
    gap: calc(var(--grid-step) * 0.5);
    align-items: flex-start;
    flex-direction: column;
    padding: calc(var(--grid-step) * 2) calc(var(--grid-step) * 3) calc(var(--grid-step) * 3);
    transition: background-color 0.3s;


    &:hover {
        background-color: var(--color-grey-50);
    }
}

.feed-links-list-item-body {
    display: flex;
    gap: calc(var(--grid-step) * 1);
    align-items: flex-start;
    flex: 1;
    min-width: 0;
    width: 100%;
}

.feed-links-list-item-bloginfo {
    display: flex;
    gap: calc(var(--grid-step) * 1);
    margin-bottom: calc(var(--grid-step) * 0.5);
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    align-self: stretch;
    font-weight: 500;
}

.feed-links-list-item-bloginfo__link {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: calc(var(--grid-step) * 0.5);
}

.feed-links-list-item-text {
    flex: 1;
    min-width: 0;
    text-decoration: none;
}

.feed-links-list-item-bloginfo-cover {
    border-radius: calc(var(--grid-step) * 2);
    margin-top: calc(var(--grid-step) * 0.5);
    overflow: hidden;
    border: none;
    position: relative;
    padding: 0;
}

.feed-links-list-item-bloginfo-cover__image {
    border-radius: calc(var(--grid-step) * 1.25);
    transition: filter 0.3s;
    object-fit: cover;
}

.feed-links-list-item-bloginfo-cover__text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    gap: calc(var(--grid-step) * 0.5);
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

.feed-links-list-item-footer {
    display: flex;
    justify-content: space-between;
}

.feed-links-list-item-link {
    color: var(--color-grey-1000);
    text-decoration: none;
    width: 100%;
}

.feed-links-list-item__title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-links-list-item__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    color: var(--color-grey-600);
    font-size: 0.833rem;
    line-height: 1.25rem;
}

.feed-links-list-item__attachment {
    width: 100%;

    &.embed {
        aspect-ratio: 1.8;
        border: none;
        background-color: black;
    }
}

.feed-links-list-item-controls {
    display: flex;
    gap: calc(var(--grid-step) * 1.5);
    align-items: center;
}

.feed-links-list-item-controls__button {
    border: 1px solid var(--color-grey-100);

    &:hover {
        & .feed-links-list-item-controls__icon {
            filter: grayscale(0);
        }
    }
}

.feed-links-list-item-controls__icon {
    font-size: 20px;
    transition: filter 0.15s;
    filter: grayscale(1) contrast(50%);

    &.active {
        filter: grayscale(0);
    }
}

.feed-links-list-item:hover {
    & .feed-links-list-item-controls {
        pointer-events: auto;
    }
}

.feed-item-feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--grid-step) * 0.25);
    color: var(--color-orange-800);
    background-color: var(--color-orange-100);
    border-radius: var(--grid-step);
    width: calc(var(--grid-step) * 2.5);
    height: calc(var(--grid-step) * 2.5);
}

.feed-item-feature--paid {
    background-color: var(--color-yellow-200);
    color: var(--color-yellow-800);
}

.sidebar-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--grid-step) * 2);
    padding: calc(var(--grid-step) * 2) calc(var(--grid-step) * 3);
    width: 100%;
}

.sidebar-block__sticky {
    position: sticky;
    bottom: 0;
    background-color: var(--sidebar-bg);
}

.sidebar-logo {
    display: block;
    padding: calc(var(--grid-step) * 4) calc(var(--grid-step) * 3) calc(var(--grid-step) * 2);
}

.feed-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feed-sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--grid-step) * 2);
}

.sidebar-block-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: calc(var(--grid-step) * 1);
    width: 100%;
}

.feed-filters-item {
    display: flex;
    align-items: center;
    gap: var(--grid-step);
}

.feed-description {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 0.5);

}

/* Buttons */
.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: calc(var(--grid-step) * 2);
    padding: calc(var(--grid-step) * 1) calc(var(--grid-step) * 2);
    border: none;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.15s;
    gap: 8px;

    .button__icon {
        width: 1.5rem;
    }

    &.button--sm {
        padding: calc(var(--grid-step) * 0.5) calc(var(--grid-step) * 1.25);
        border-radius: calc(var(--grid-step) * 1.5);
        gap: calc(var(--grid-step) * 0.75);

        & .button__icon {
            width: 1.25rem;
            /*margin-left: calc(var(--grid-step) * -0.5);*/
        }
    }

    &.button--xs {
        padding: calc(var(--grid-step) * 0.5) calc(var(--grid-step) * 1);
        border-radius: calc(var(--grid-step) * 1.25);
        gap: calc(var(--grid-step) * 0.5);
        font-size: 0.833rem;
        line-height: 1rem;

        & .button__icon {
            /*margin-left: calc(var(--grid-step) * -0.5);*/
            width: 1rem;
        }
    }

    .loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    & span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.button--primary {
    background-color: var(--color-orange-500);
    border: 1px solid var(--color-orange-500);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-orange-700);
    }

    .loader {
        background-color: var(--color-orange-500);

        svg path,
        svg rect {
            fill: var(--color-grey-100);
        }
    }

    &.button--outline {
        background: transparent;
        color: var(--color-orange-500);
        border: 1px solid var(--color-orange-200);
        box-shadow: none;

        &.active {
            background-color: var(--color-orange-100);
        }

        &:hover {
            background-color: var(--color-orange-100);
            border-color: var(--color-orange-500);
        }
    }
}

.button--ghost {
    background: transparent;
    color: var(--color-grey-1000);
    box-shadow: none;

    &:hover {
        background: var(--color-grey-100);
    }


    &.active {
        border: 1px solid var(--color-grey-200);
        background-color: var(--color-grey-100);
    }

    &.button--outline {
        background: transparent;
        border: 1px solid var(--color-grey-200);
        color: var(--color-grey-600);

        &:hover {
            border-color: var(--color-grey-600);
        }
    }
}

.button--outline {
    transition: border-color 0.15s;
}

.button--text {
    background: transparent;
    color: var(--color-grey-1000);
    box-shadow: none;
    border: none;
    padding: 0;
}

.button-group {
    display: flex;

    & > .button-wrapper {
        display: flex;

        & .button {
            --border-radius: calc(var(--grid-step) * 2);
            border-radius: unset;

            &.button--sm {
                --border-radius: calc(var(--grid-step) * 1.5);
            }

            &.button--xs {
                --border-radius: calc(var(--grid-step) * 1.25);
            }

        }

        & + & {
            .button {
                border-left: none;
            }
        }

        &:first-of-type .button {
            border-bottom-left-radius: var(--border-radius);
            border-top-left-radius: var(--border-radius);
        }

        &:last-of-type .button {
            border-bottom-right-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }
    }
}

/* Forms and inputs */
.form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 3);
    align-items: flex-start;
    width: 100%;
}

.form-inline-row {
    position: relative;
    width: 100%;

    & .input {
        padding-right: 100px;
    }

    & .button {
        position: absolute;
        top: 4px;
        right: 4px;
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: calc(var(--grid-step) * 0.5);

    &.has-errors {
        & .input {
            border-color: var(--color-error);
        }
    }
}

.form-label {
    font-weight: 900;
}

.form-input-help {
    color: var(--color-grey-600);
    font-size: 0.694rem;
    line-height: 1rem;

    & > ul {
        padding-left: 0;
        list-style: none;
    }
}


.form-errors {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    color: var(--color-error);
    font-size: 0.694rem;
    line-height: 1rem;
}

.flex-column-button-container {
    margin-top: calc(var(--grid-step) * 0.5);
    flex-direction: row;
}


.feed-filters-item {
    display: flex;
    align-items: center;
    gap: var(--grid-step);
}

.feed-filters-item__checkbox {
    display: none;
}

.input {
    border: 1px solid var(--color-grey-200);
    padding: calc(var(--grid-step) * 1) calc(var(--grid-step) * 2);
    border-radius: calc(var(--grid-step) * 2);

    &.error {
        border-color: var(--color-error);
    }
}

.field-row {
    position: relative;

    & > .error-text {
        position: absolute;
        top: 100%;
        left: 17px;
        bottom: -20px;
        color: red;
        font-size: 0.75rem;
    }
}

/* Pagination */
.pagination {
    display: flex;
    gap: calc(var(--grid-step) * 3);
    padding: 24px 0;
    background-image: linear-gradient(transparent, white 30%);
}

.pagination-list {
    display: flex;
    gap: calc(var(--grid-step) * 1);
    padding-left: 0;
    list-style: none;
}

.pagination-item {
    color: var(--color-grey-1000);
    font-weight: 500;
}

.pagination-item a {
    color: inherit;
    text-decoration: none;
}

.pagination-item:hover {
    --color-grey-1000: var(--color-blue);
}

.pagination-item--active {
    font-weight: 700;
}

.landing-hero {
    gap: 48px;
}

.landing-caption {
    text-align: center;

    h1 {
        font-size: 48px;
    }
}

.landing-form {
    gap: 24px;
}

.paragraph {
    color: var(--color-grey-600);
}

.waitlist-form {
    display: flex;
    gap: var(--grid-step);
}

.landing-advantages {
    display: flex;
    gap: calc(var(--grid-step) * 8);
    max-width: 1200px;
    margin-top: calc(var(--grid-step) * 12);
}

.landing-advantages-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 1.5);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    svg path,
    svg rect {
        fill: var(--color-orange-500);
    }

}

.feed-detail-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 4);
    max-width: 768px;
    margin: 0 auto 64px auto;
    align-items: flex-start;
}

.feed-detail-section {
    width: 100%
}

.feed-detail-preview {
    width: 100%;
    aspect-ratio: 2;
    object-fit: contain;
}

/**
* Dialogs
 */

.dialog {
    position: fixed;
    border: none;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    color: inherit;

    &.dialog_top {
        top: 0;
        border-bottom-left-radius: calc(var(--grid-step) * 3);
        border-bottom-right-radius: calc(var(--grid-step) * 3);
    }

    &.dialog_bottom {
        top: auto;
        bottom: 0;
        border-top-left-radius: calc(var(--grid-step) * 3);
        border-top-right-radius: calc(var(--grid-step) * 3);
    }
}

.dialog-content {
    display: flex;
    flex-direction: column;
    padding: calc(var(--grid-step) * 3.5) calc(var(--grid-step) * 3);
    gap: calc(var(--grid-step) * 3);
    max-height: 90vh;
    overflow-y: auto;
}

.dialog-header {
    display: flex;

    & .dialog-close {
        margin-left: auto;
    }
}

/*   Open state of the dialog  */
dialog.dialog_top[open] {
    opacity: 1;
    transform: translateY(0);
}

dialog.dialog_bottom[open] {
    opacity: 1;
    transform: translateY(0);
}

/*   Closed state of the dialog   */
.dialog {
    transition: transform 0.3s ease-out,
    overlay 0.3s ease-out allow-discrete,
    display 0.3s ease-out allow-discrete;
}

dialog.dialog_top {
    transform: translateY(-100%);
}

dialog.dialog_bottom {
    transform: translateY(100%);
}

@starting-style {
    dialog.dialog_top[open] {
        transform: translateY(-100%);
    }

    dialog.dialog_bottom[open] {
        transform: translateY(100%);
    }
}

/*.htmx-request .loader {*/
/*    display: inline;*/
/*}*/

/*.htmx-request.loader {*/
/*    display: inline;*/
/*}*/

/**
* Responsive styles
 */
@media screen and (max-width: 768px) {
    :root {
        --grid-column-gap: calc(var(--grid-step) * 2);
    }

    .container {
        --side-padding: calc(var(--grid-step) * 4);
    }

    .cols-mobile-12 {
        grid-column: span 12;
    }


    /* Main components styles */
    .waitlist-form {
        flex-direction: column;
    }

    .header-logo {
        grid-column: span calc(var(--grid-columns) / 2);
    }

    .header-nav {
        grid-column: span calc(var(--grid-columns) / 6);
    }

    .landing-advantages {
        flex-direction: column;
        margin-top: calc(var(--grid-step) * 2);
    }
}