/*
* Josh's Custom CSS Reset
* https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/**
* Vars
 */
:root {
    /* Grid system */
    --grid-columns: 12;
    --grid-step: 8px;
    --grid-column-gap: calc(var(--grid-step) * 4);

    /* Colors */
    --color-text: #2C353A;
    --color-paragraph: #46555D;
    --color-background: #F5F5F5;
    --color-primary: #FF6340;
    --color-blue: #4464AD;

    /* Shadows */
    --shadow-primary: 0 0 12px -4px rgba(255, 99, 64, 0.9);
}

/**
* Global styles
*/

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text);
}

/**
* Main components styles
*/
.container {
    --base-max-width: 1280px;
    --side-padding: calc(var(--grid-step) * 6);
    --vertical-padding: calc(var(--grid-step) * 4);
    max-width: calc(var(--base-max-width) + (var(--side-padding) * 2));
    padding: var(--vertical-padding) var(--side-padding);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: calc(var(--grid-step) * 10);
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
}

.spread {
    grid-column: span var(--grid-columns);
}

.page-header {
}

.heading {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header {
    align-items: center;
}

.header-logo {
    grid-column: span 4
}

.header-nav {
    grid-column-start: 5;
    font-weight: 500;
}

.content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span var(--grid-columns);
    grid-row-gap: calc(var(--grid-step) * 8);
}

.link {
    color: var(--color-text);
    text-decoration: none;
}

.link:hover {
    color: var(--color-blue);
}

/**
* Atomic components
*/

.feed-wrapper {
    grid-row-gap: calc(var(--grid-step) * 6);
}

.feed-list {
    grid-row-gap: calc(var(--grid-step) * 4);
}

.feed-menu {
}

.feed {
    --feed-columns-count: 1;
    grid-column: span calc(var(--grid-columns) / var(--feed-columns-count));
}

.feed-header {
    margin-bottom: calc(var(--grid-step) * 1.5);
}

.feed-links-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 0.5);
    padding-left: 0;
    list-style: none;
}

.feed-links-list-item {
    display: flex;
    gap: calc(var(--grid-step) * 1);
}

.feed-links-list-item__link {
    color: var(--color-paragraph);
    display: flex;
    max-width: calc(var(--grid-step) * 80);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-links-list-item__link a {
    color: inherit;
    text-decoration: none;
}

.feed-links-list-item__controls {
    display: flex;
    gap: calc(var(--grid-step) * 0.5);
    opacity: 0.25;
    pointer-events: none;
    transition: opacity 0.15s;
}

.feed-links-list-item:hover {
    --color-paragraph: var(--color-blue);
}

.feed-links-list-item:hover .feed-links-list-item__controls {
    opacity: 1;
    pointer-events: auto;
}

/* Buttons */
.button {
    display: inline-block;
    padding: calc(var(--grid-step) * 1) calc(var(--grid-step) * 2);
    border: none;
    border-radius: calc(var(--grid-step) * 1.5);
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: var(--shadow-primary);
}

/* Forms and inputs */
.form {
    display: grid;
    grid-row-gap: calc(var(--grid-step) * 2);
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 0.5);
}

.pagination {
    position: sticky;
    display: flex;
    gap: calc(var(--grid-step) * 3);
    bottom: 0;
    padding: 24px 0;
    background-image: linear-gradient(transparent, white 30%);
}

.pagination-list {
    display: flex;
    gap: calc(var(--grid-step) * 1);
    padding-left: 0;
    list-style: none;
}

.pagination-item {
    color: var(--color-text);
    font-weight: 500;
}

.pagination-item a {
    color: inherit;
    text-decoration: none;
}

.pagination-item:hover {
    --color-text: var(--color-blue);
}

.pagination-item--active {
    font-weight: 700;
}