/*
* Josh's Custom CSS Reset
* https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/**
* Vars
 */
:root {
    /* Grid system */
    --grid-columns: 12;
    --grid-step: 8px;
    --grid-column-gap: calc(var(--grid-step) * 4);

    /* Colors */
    --color-text: #2C353A;
    --color-paragraph: #69808C;
    --color-grey-light: #D0D8DC;
    --color-background: #E6E9F0;
    --color-primary: #FF6340;
    --color-error: #E02900;
    --color-blue: #2C67F2;
    --color-blue-dark: #1A4FDB;

    /* Shadows */
    --shadow-primary: 0 0 12px -4px rgba(255, 99, 64, 0.9);
}

/**
* Global styles
*/

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text);
}

/**
* Main components styles
*/
.container {
    --base-max-width: 1280px;
    --side-padding: calc(var(--grid-step) * 6);
    --vertical-padding: calc(var(--grid-step) * 4);
    --row-gap: calc(var(--grid-step) * 10);
    max-width: calc(var(--base-max-width) + (var(--side-padding) * 2));
    padding: var(--vertical-padding) var(--side-padding);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-template-rows: auto 1fr;
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--row-gap);
    min-height: 100vh;
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
}

.spread {
    grid-column: span var(--grid-columns);
}

.page-header {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--grid-step) * 2);
}

.heading {
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.header {
    align-items: center;
}

.header-logo {
    grid-column: span calc(var(--grid-columns) / 3);
}

.header-nav {
    grid-column-start: calc(var(--grid-columns) / 3);
    grid-column: span calc(var(--grid-columns) / 3);
}

.header-right {
    font-weight: 500;
    display: flex;
    grid-column-start: calc(var(--grid-columns) / 3 * 2);
    justify-content: flex-end;
    grid-column: span calc(var(--grid-columns) / 3);
}

.header-nav-menu {
    font-weight: 600;
}

.content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span var(--grid-columns);
    grid-row-gap: calc(var(--grid-step) * 8);
}

.content-inner {
    grid-template-rows: min-content;
}

.nav-list {
    display: flex;
    gap: calc(var(--grid-step) * 3);
    list-style: none;
    padding: 0;

    &.vertical {
        flex-direction: column;
        gap: calc(var(--grid-step) * 2);
    }
}

.nav-list__link {
    text-decoration: none;

    &.link {
        color: var(--color-text);
    }

    &.active {
        color: var(--color-paragraph);
    }
}

.link {
    color: var(--color-blue);
    text-decoration: none;
    transition: color 0.15s;
}

.link:hover {
    color: var(--color-blue-dark);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.relative {
    position: relative;
}

/**
* Grid system
 */

.cols-1 {
    grid-column: span 1;
}

.cols-2 {
    grid-column: span 2;
}

.cols-3 {
    grid-column: span 3;
}

.cols-4 {
    grid-column: span 4;
}

.cols-5 {
    grid-column: span 5;
}

.cols-6 {
    grid-column: span 6;
}

.cols-7 {
    grid-column: span 7;
}

.cols-8 {
    grid-column: span 8;
}

.cols-9 {
    grid-column: span 9;
}

.cols-10 {
    grid-column: span 10;
}

.cols-11 {
    grid-column: span 11;
}

.cols-12 {
    grid-column: span 12;
}

/**
* Atomic components
*/

.feed-wrapper {
    grid-row-gap: calc(var(--grid-step) * 6);
}

.feed-list {
    grid-row-gap: calc(var(--grid-step) * 4);
}

.feed-menu {
}

.feed {
    --feed-columns-count: 1;
    grid-column: span calc(var(--grid-columns) / var(--feed-columns-count));
}

.feed-header {
    margin-bottom: calc(var(--grid-step) * 4);
}

.feed-links-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 4);
    padding-left: 0;
    list-style: none;
}

.feed-links-list-item {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 1);
}

.feed-links-list-item-bloginfo {
    display: flex;
    gap: calc(var(--grid-step) * 1);
    align-items: center;
    white-space: nowrap;
}

.feed-links-list-item-bloginfo__link {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-links-list-item-bloginfo__icon {
    width: 20px;
    height: 20px;
}

.feed-links-list-item-footer {
    display: flex;
    justify-content: space-between;
}

.feed-links-list-item-link {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.15s;

    &:hover {
        --color-text: var(--color-blue);
    }
}

.feed-links-list-item__title {}

.feed-links-list-item__description {}

.feed-links-list-item__attachment {
    width: 100%;
}

.feed-links-list-item-controls {
    display: flex;
    gap: calc(var(--grid-step) * 0.5);
    pointer-events: none;
    align-items: center;
}

.feed-links-list-item-controls__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: unset;
}

.feed-links-list-item-controls__icon {
    font-size: 20px;
    transition: opacity 0.15s;
    opacity: 0.2;

    &.active {
        opacity: 1;
    }

    &:hover {
        opacity: 0.6;
    }
}

.feed-links-list-item:hover {
    & .feed-links-list-item-controls {
        pointer-events: auto;
    }
}

.feed-filters {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 1);
}

.feed-sidebar {
    position: sticky;
    top: var(--vertical-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--grid-step) * 6);
}

.feed-filters-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-step) * 2);
}

.feed-filters-item {
    display: flex;
    align-items: center;
    gap: var(--grid-step);
}

/* Buttons */
.button {
    display: inline-flex;
    align-items: center;
    padding: calc(var(--grid-step) * 1) calc(var(--grid-step) * 3);
    border: none;
    border-radius: calc(var(--grid-step) * 1.5);
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: var(--shadow-primary);
}

.button__icon {
    margin-right: calc(var(--grid-step) * 1.5);
    margin-left: calc(var(--grid-step) * -1.5);
}

.button_blank {
    padding: 0;
    border: none;
    background: none;
}

/* Forms and inputs */
.form {
    display: flex;
    flex-direction: column;
    grid-row-gap: calc(var(--grid-step) * 4);
    align-items: flex-start;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: calc(var(--grid-step) * 1.5);

    &.has-errors {
        & .input {
            border-color: var(--color-error);
        }
    }
}

.form-label {
    margin-left: calc(var(--grid-step) * 2);
    font-weight: 600;
}

.form-input-help {
    margin-left: calc(var(--grid-step) * 2);
    color: var(--color-paragraph);

    & > ul {
        padding-left: 0;
        list-style: none;
    }
}


.form-errors {
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--grid-step) * 2);
    gap: calc(var(--grid-step) * 0.5);
    list-style: none;
    padding-left: 0;
    color: var(--color-error);
}

.form-submit {
    margin-top: calc(var(--grid-step) * 2);
}


.feed-filters-item {
    display: flex;
    align-items: center;
    gap: var(--grid-step);
}

.input {
    border: 1px solid var(--color-grey-light);
    padding: calc(var(--grid-step) * 1) calc(var(--grid-step) * 2);
    border-radius: calc(var(--grid-step) * 1.5);

    &.error {
        border-color: var(--color-error);
    }
}

.field-row {
    position: relative;

    & > .error-text {
        position: absolute;
        top: 100%;
        left: 17px;
        bottom: -20px;
        color: red;
        font-size: 0.75rem;
    }
}

/* Pagination */
.pagination {
    display: flex;
    gap: calc(var(--grid-step) * 3);
    padding: 24px 0;
    background-image: linear-gradient(transparent, white 30%);
}

.pagination-list {
    display: flex;
    gap: calc(var(--grid-step) * 1);
    padding-left: 0;
    list-style: none;
}

.pagination-item {
    color: var(--color-text);
    font-weight: 500;
}

.pagination-item a {
    color: inherit;
    text-decoration: none;
}

.pagination-item:hover {
    --color-text: var(--color-blue);
}

.pagination-item--active {
    font-weight: 700;
}

.landing-hero {
    gap: 48px;
}

.landing-caption {
    text-align: center;

    h1 {
        font-size: 48px;
    }
}

.landing-form {
    gap: 24px;
}

.paragraph {
    color: var(--color-paragraph);
}

.waitlist-form {
    display: flex;
    gap: var(--grid-step);
}


/**
* Responsive styles
 */
@media screen and (max-width: 768px) {
    :root {
        --grid-column-gap: calc(var(--grid-step) * 2);
    }

    .container {
        --side-padding: calc(var(--grid-step) * 4);
    }

    .cols-mobile-12 {
        grid-column: span 12;
    }


    /* Main components styles */
    .waitlist-form {
        flex-direction: column;
    }
}